body {
  margin: 0;
  font-family: "Outfit", sans-serif;
}
h1 {
  font-size: 50pxS;
}
.name {
  color: orange;
}
.half {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}
.half img {
  width: 100%;
}
.img {
  background-image: url("img/background.png");
  background-repeat: no-repeat;
}
section {
  height: 500px;
}
